<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.harkonnen.ttcliente"
    versionCode = "10"
    version     = "1.0.0" >

  <name>TTCliente</name>

  <description>
      Visualizacion de puntos
  </description>

  <author href="https://www.linkedin.com/in/tocado157" email="tocado157@gmail.com">
      ToCaDo157
  </author>
  <icon src="images/logo.png" />
  <preference name="exit-on-suspend"            value="true" />
</widget>